/**
 * Custom prompt box
 */
.prompt-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  pointer-events: none;
  cursor: auto;
  background-color: $colorOverlay;
  padding: $padSpace;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: $zindexModals;

  .prompt-container {
    display: block;
    overflow: hidden;
    position: relative;
    cursor: auto;
    width: 100%;
    max-width: 400px;
    background-color: lighten( $colorDocument, 20% );
    border-radius: $lineJoin;
    box-shadow: $shadowBold;
    transform: scale( 0.5 );

    .prompt-title {
      line-height: 1em;
      padding: $padSpace;
      border-bottom: $lineWidth $lineStyle $lineColor;

      &:before {
        display: inline-block;
        width: 1em;
        margin: 0 0.5em 0 0;
        font-family: "fontello";
        content: "\e811";
      }
    }

    .prompt-message {
      padding: $padSpace;
    }

    .prompt-input {
      display: block;
      overflow: hidden;
      font-size: inherit;
      line-height: 1.4em;
      min-width: 100%;
      margin: 0;
      padding: $padSpace;
      color: $colorGrey;
      background-color: transparent;
      box-shadow: none;

      &:active, &:focus {
        color: $colorText;
      }
    }

    .prompt-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;
      border-top: $lineWidth $lineStyle $colorPrimary;

      button {
        display: block;
        flex: 1;
        cursor: pointer;
        color: $colorDocumentText;
        text-align: center;
        text-transform: uppercase;
        font-size: 90%;
        line-height: 1.2em;
        margin: 0;
        padding: $padSpace;
        border-bottom: $lineWidth $lineStyle rgba( 0, 0, 0, 0.1 );
      }
      .prompt-accept-btn {
        background-color: rgba( 0, 0, 0, 0.05 );
        color: darken( $colorSuccess, 10% );

        &:hover, &:active, &:focus {
          background-color: rgba( 0, 0, 0, 0 );
        }
      }
      .prompt-cancel-btn {
        background-color: rgba( 0, 0, 0, 0.15 );
        color: $colorDanger;

        &:hover, &:active, &:focus {
          background-color: rgba( 0, 0, 0, 0.1 );
        }
      }
    }
  }

  &.prompt-visible {
    pointer-events: auto;
    opacity: 1;

    .prompt-container {
      transform: scale( 1 );
    }
  }
}
